<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <section once="" class="cid-qtvV5jV0lo" id="footer6-n" data-rv-view="210">

        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2017 Mobirise - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>